<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FilePath" value="C:\Users\Ranjith\source\repos\ABMDataAssessment\EDIFACTApp\InputFile\"/>
    <add key="XMLFileName" value="EDIFACT_XMLDoc.xml"/>
    <add key="EDIFACTFileName" value="EDIFACT_Message.txt"/>
    <add key="PayloadXMLFileName" value="Payload_XMLDoc.xml"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPayloadService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52373/PayloadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPayloadService"
        contract="PayloadServiceReference.IPayloadService" name="BasicHttpBinding_IPayloadService" />
    </client>
  </system.serviceModel>
</configuration>